.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  width: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  margin-bottom: 100px;
  /* parameters for the header section */
}

.header__title{
  width: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  }

.logo_place_header{
  position: absolute;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
  z-index: 10;
}

.header__subtitle{
  width: 388px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  z-index: 10;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link{
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration{
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square{
  width: 568px;
  height: 568px;
  background-color: #2F80ED;
  position: absolute;
  right: 0;
  top:64px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* including elements with key-value modifiers */


.description{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;

}

.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2F80ED;
  text-decoration: none;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;

}

.two-columns__paragraph{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;

}

.two-columns__paragraph:last-child{
  margin-bottom: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.table__title{
  width: 60%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.table__subtitle{
  margin-top: 0;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  width: 1100px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.table__cell{
  width: 250px;
  margin-bottom: 60px;
}

.table__cell:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}

.cell__cita{
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman{
  height: 790px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  background-color: #F2F2F2;
}

.feynman__title{
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  padding-top: 100px;
  margin-bottom: 0;
}


.feynman__subtitle{
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

}.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

}

.kaufman{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F1F1F;
  overflow: hidden;
  z-index: -2;
}

.table__tilte-theme-dark{
  margin-top: 90px;
  color: white;
}

.table__subtilte-theme-dark{
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table_theme_dark{
  margin-bottom: 90px;
}

.kaufman__triangle{
  position: absolute;
  right: -124px;
  top: 0;
  z-index: -1;
}

.footer{
  background-color: #1F1F1F;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__columns{
  color: white;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  position: relative;

}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  position: absolute;
  margin: 0;
  bottom: 18px;
}
.footer__column_content_about{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.footer__list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column-heading{
  margin:0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}

.footer__column-link{
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons{
  margin-right: 10px;
}